<form method="post" action="/search">
  <input type="text" id="query" name="query" />
  <button type="submit">Search</button>
</form>

<style>
  form { width: 202px; margin: 0 auto; position: relative; top: 100px }
  input { width: 150px; float: left }
  button { top: 10px; display: block }
</style>
