<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/styles.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
  </head>

<body>
  <!-- INTERFACE -->
  <header>
    <a href="."><img src="//cdn6.bigcommerce.com/s-r8lu9/product_images/uploaded_images/bigcommerce-logomark-whitebg.png?t=1468372433"/></a>
    <div id="search-input"></div>
    <div id="search-input-icon"></div>
  </header>

  <main>
      <div id="left-column">
          <div id="industry"></div>
          <div id="plan"></div>
          </div>
    <div id="right-column">
      <div id="stats"></div>
      <div id="hits"></div>
      <div id="pagination"></div>
    </div>
  </main>
  <!-- /INTERFACE -->

  <!-- TEMPLATES -->
  <script type="text/html" id="hit-template">
    <div class="hit">
      <div class="hit-content">
        <h2 class="hit-name"><a target="_blank" href='//{{{_highlightResult.domain.value}}}'>{{{_highlightResult.domain.value}}}</a></h2><div id="addtags"><button id="addtagbtn" type="button">Add Tag</button></div>
        <p class="hit-description">{{{_highlightResult.metadesc.value}}}</p><div id="objectid-hidden">{{{objectID}}}</div>
      </div>
        
    </div>
  </script>

  <script type="text/html" id="no-results-template">
    <div id="no-results-message">
      <p>We didn't find any results for the search <em>"{{query}}"</em>.</p>
      <a href="." class='clear-all'>Clear search</a>
    </div>
  </script>
  <!-- /TEMPLATES -->

  <!-- SCRIPTS -->
  <script src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
  <script src="%%ASSET_js/app.js%%"></script>
  <!-- /SCRIPTS -->
</body>
</html>
<script>
$(document).ready(function() {
$.post = ({
  async: true,
  crossDomain: true,
  url: "https://y8q3vsesj3-dsn.algolia.net/1/indexes/index_BC/78901992/partial",
  method: "POST",
  error: function(req, err){ console.log('my message' + err); },
  success: function(req){ console.log('my message' + err); },
  headers: {
    "x-algolia-application-id": "Y8Q3VSESJ3",
    "x-algolia-api-key": "2b9e09d99f2c106b00faed00c2664917",
    "cache-control": "no-cache",
  },
  data:{"tags": "nikita-testing"}
})
});

</script>

​