<table>
<% hits.each do |hit| %>
  <tr>
    <td><img src="<%= hit["image"] %>" /></td>
    <td>
      <h1><%= hit["name"] %></h1>
      <%= hit["meta_description"] %>
      <%= hit["rating"] %>
    </td>
  </tr>
<% end %>

